*{
    margin: 0;
    padding: 0;
}

body{
    background: beige;
    font-family: Roboto;
    background-color: aqua;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 70px;
    padding: 10px;
    margin: 0 0 20px 0;
    background-color: beige;
    border: 2px solid black;
}
.header-text{
    font-size: xx-large;
    font-weight: 600;
}

h3{
    font-size: 40px;
    font-weight: 500;
}

.skill-up{
    width: 300px;
    height: 70px;
    margin: 0 0 50px 20px;
}

.courses{
    text-align: center;
}

.images{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 10px;
    margin: 5px 0px 5px 15px;
}

.image{
    width: 275px;
    height: 250px;
}

.footer{
    display: grid;
    grid-template-columns: 3;
    background-color: grey;
    width: 100%;
    height: 300px;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-align: center;
}

.bxl-youtube{
    color:#FF0000 ;
}

.bxl-instagram-alt{
    color : #c9157e;;
}

.bxl-twitter{
    color: aqua;
}

.bxl-facebook-circle{
    color: rgb(59, 23, 221);
}

@media screen and (max-width: 350px){
    .header{
        width: 340px;
    }
    .header img{
        width: 200px;
        height: 40px;
    }
}
@media screen and (max-width: 250px){
    .header{
        width: 240px;
        height: 40px;
    }
}